@media screen and (min-width: 769px)
{
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    
  }
}
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2); 
    border-radius: 15px;
    background: rgba(0,0,0,0.15);
    
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.8); 
    background: #00a99d;
    
  }

html
{
	font-size:18px;
}
.max-w-screen-md {
    max-width: 960px;
}
article a{
    color:#00a99d;
    font-weight:bold;
   
}